@font-face{
	font-family: lobster;	
	src:url('coffeeworld/Lobster/Lobster-Regular.ttf');
}
@font-face{
	font-family: balloo;
	src:url('coffeeworld/Baloo_Bhai_2/BalooBhai2-Bold.ttf');
}
@font-face{
	font-family: poppin;
	src:url('coffeeworld/Poppins/Poppins-Italic.ttf	');
}