*{
	color: green;
	line-height: 20px;
}
#testing1{
	background-color: yellow;

}
.smallcaps{
	font-variant: small-caps;
}

.transform{
	background-color: yellow;
	transform:rotate(20deg);
}

a[title="Google"],a[title="Facebook"]{
	color:white;
	background-color: yellow;
	height: 200px;
	width:200px;
}

p a{
   color:red;
   text-decoration: none;
}

p>a{
	color: blue;
	text-decoration: underline;
	text-decoration-style:wavy;
	text-decoration-color: black;
}
#hovertransition{
	background-color: red;
	width:100px;
	height: 100px;
	transition: width 2s;

}

#hovertransiton{
	width:400px;
	} 

a[title='Google']:visited{
	color:white;
	background-color: black;
}

a[title='Facebook']:active{
	color:pink;
	font-size: 20px;
}

input[type='text']:focus{
	background:darkred;
	color: white;
}

ul li:first-child{
	color:blue;
	list-style-image: url('emoji.svg');
}
ul li:last-child{
	color:red;
}

.boxmodel{
	border:5px solid black;

	/*4 sides*/
    padding: 30px;
	/*top bottom/left right*/
	/*padding: 10px 50px;

	/*top right bottom left*/
	/*padding: 10px 20px 30px 40px;*/

	margin: 0px 20px;
}

.nav{
	border:1px solid gold;
	width: 200px;
	float:left;
}

.clear{
	clear:both;
}
}